<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/aws/home">
     <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services" href="/aws/services">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/aws/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
      
  </ion-tab-bar>


</ion-tabs>
