<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <p>AWS Services</p>
    </ion-card-header>

    <!-- <ion-card-content> -->
      <ion-list  [inset]="true">

        <ion-item [button]="true" lines="none">
          EC2
        </ion-item>

        <ion-item button="true" lines="none">
          API GATEWAY
        </ion-item>
        <ion-item button="true" lines="none">
          ECR
        </ion-item>
        <ion-item button="true" lines="none">
          LAMBDA
        </ion-item>

      </ion-list>

    <!-- </ion-card-content> -->
  </ion-card>

</ion-content>