<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <ion-title size="large" class ="ion-padding">Aws Services</ion-title>
      <ion-list  [inset]="true">

        <ion-item [button]="true" lines="none" routerLink="/aws/ec2">
          EC2
        </ion-item>

        <ion-item button="true" lines="none">
          API GATEWAY
        </ion-item>
        <ion-item button="true" lines="none">
          LAMBDA
        </ion-item>
        
      </ion-list>
      

</ion-content>